{foreach $assets as $a => $desc}
    {var $userAllowed = isset($desc['auth']) ? $user->isAllowed($desc['auth']) : true}
    {var $option = isset($desc['option']) ? $setting->getVal($desc['option']) : true}
    {if $userAllowed && $option}
        <link rel="stylesheet" type="text/css" href="{isset($desc['url']) && $desc['url'] == true ? $a : $assetsPublicDirectory . $a . '?' . $desc['time']}">
    {/if}
{/foreach}